@import "~bootstrap/scss/bootstrap";
@import url("https://fonts.googleapis.com/css2?family=Architects+Daughter&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

// Base HTML and Body Styles
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Raleway";
  font-size: 16px;
  background: #000000;
  color: #e1e1e1;
  height: 100%;
  width: 100vw;
  min-height: 100vh;

  @media (max-width: 1200px) {
    font-size: 15px;
  }

  @media (max-width: 992px) {
    font-size: 14px;
  }

  @media (max-width: 768px) {
    font-size: 13px;
  }

  @media (max-width: 576px) {
    font-size: 12px;
  }

  @media (max-width: 360px) {
    font-size: 11px;
  }
}

.body-dark {
  background: #000000;
  color: #e1e1e1;
}

.body-light {
  background: #e1e1e1;
  color: #000000;
}

.logo-title {
  font-family: "Architects Daughter", cursive;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  font-size: 2.5rem;

  @media (max-width: 1400px) {
    font-size: 2rem;
  }

  @media (max-width: 768px) {
    font-size: 2rem;
  }

  @media (max-width: 576px) {
    font-size: 1.75rem;
  }
}

.logo-container {
  img {
    width: 100%;
    max-width: 50px;

    @media (max-width: 1200px) {
      max-width: 40px;
    }

    @media (max-width: 576px) {
      max-width: 30px;
    }
  }
}

.header-hr {
  width: 100%;
  margin-top: 0.5rem;
  margin-bottom: 0;
  background-color: #1f1f1f;
}

.header {
  background-color: #1f1f1f;
}

.login-page {
  //   background: #e1e1e1;
  background: white;
  height: 100vh;
}

.welcome-text {
  font-family: "Architects Daughter";
  font-size: 2.5rem;
  color: #1f1f1f;

  @media (max-width: 567px) {
    font-size: 2.3rem;
  }
}

.sign-in-text {
  font-size: 1.5rem;
  font-weight: 300;
  color: #1f1f1f;

  @media (max-width: 576px) {
    font-size: 1.5rem;
    font-weight: 350;
  }
}

.div-hr-border {
  width: 100%;
  height: 0.5px;
  background-color: #1f1f1f;
}

// Custom styles for the form
.form-container {
  max-width: 800px;
  margin: auto;
  padding: 2rem;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  //   background: #e1e1e1;

  @media (max-width: 576px) {
    padding: 16px;
    max-width: 100%;
  }

  @media (min-width: 768px) {
    padding: 20px;
    max-width: 80%;
  }

  @media (min-width: 1024px) {
    padding: 30px;
    max-width: 80%;
  }
}

.input-label {
  color: #1f1f1f;
}

.login-container {
  max-width: 800px;
}

.input-floating {
  font-size: 1.25rem;

  @media (max-width: 768px) {
    font-size: 1.2rem;
    font-weight: 500;
  }

  @media (max-width: 576px) {
    font-size: 1rem;
    font-weight: 600;
  }
}

.input-feedback {
  font-weight: 400;

  @media (max-width: 768px) {
    font-weight: 500;
  }

  @media (max-width: 576px) {
    font-weight: 600;
  }
}

.nav-bar-contatiner {
  max-width: 100%;
  height: 90vh;
  margin: auto;
  padding-top: 1rem;
  padding-left: 1.5rem;
  background-color: #1f1f1f;
  //   padding: 1.25rem;
  //   box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);

  //   @media (max-width: 576px) {
  //     padding: 16px;
  //     max-width: 20%;
  //   }

  //   @media (min-width: 768px) {
  //     padding: 1.25rem;
  //     max-width: 20%;
  //   }

  //   @media (min-width: 1024px) {
  //     padding: 1.25rem;
  //     max-width: 25%;
  //   }
}
