@import "../utilities/variables";
@import "../utilities/mixins";

.logo-title {
  font-family: $font-secondary;
  font-weight: 400;
  font-style: normal;
  padding-top: 20px;
  @include responsive-font-size(2rem, 1.75rem);
}

.welcome-text {
  font-family: $font-secondary;
  color: $text-color-dark;
  @include responsive-font-size(2.5rem);
  @media (max-width: 567px) {
    @include responsive-font-size(2.3rem);
  }
}

.sign-in-text {
  font-family: $font-secondary;
  color: $text-color-dark;
  font-weight: 300;
  @include responsive-font-size(1.5rem);
  @media (max-width: 567px) {
    @include responsive-font-size(1.5rem);
    font-weight: 350;
  }
}
