// COLORS
$theme: "dark"; //default

$background-color-header-nav-light: #f9f8f8;
$background-color-header-nav-dark: #2a2b2d;

$background-color-light: #ffffff;
$background-color-dark: #1e1f21;

$text-color-light: #f5f4f3;
$text-color-dark: #000000;

$text-color-header-nav-light: #f5f4f3;
$text-color-header-nav-dark: #5a5b5c;

$border-color-light: rgba(31, 31, 31, 0.25);

// FONTS
$font-primary: "Raleway", sans-serif;
$font-secondary: "Architects Daughter", cursive;
