// COLORS
// light mode
$background-color-light: #e1e1e1;
$text-color-light: #1f1f1f;
$border-color-light: rgba(31, 31, 31, 0.25);

// dark mode
$background-color-dark: #1f1f1f;
$text-color-dark: #e1e1e1;

// FONTS
$font-primary: "Raleway", sans-serif;
$font-secondary: "Architects Daughter", cursive;
