@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/helpers";
// @import "~react-calendar/dist/Calendar.css";

.react-calendar {
  width: 100%;
  .react-calendar__month-view__weekdays {
    abbr {
      color: black; // Ensure the days of the week are in black
      text-decoration: none; // Remove any underline if present
    }
  }

  .react-calendar__tile {
    color: black; // Ensure the default tile text color is black
  }

  .react-calendar__tile--now {
    background: #ffffe0; // Highlight today's date with a background color
    color: black; // Ensure the text color is black
  }

  .react-calendar__tile--active {
    background: #8e44ad; // Active date background color
    color: white; // Active date text color
  }

  .react-calendar__tile--hover {
    background: #e4e4e4; // Background color on hover
    color: black; // Text color on hover
  }

  @media (max-width: 576px) {
    width: 100%;
    max-width: 100%;
    position: fixed;
    left: 0;
  }
}
