@import "../utilities/helpers";
@import "../utilities/variables";
@import "../utilities/mixins";

.project-form-styling {
  @include theme-background($theme);
  &:focus {
    background: inherit;
    color: inherit;
  }
}

.form-container-dark {
  max-width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 40px;
  @include theme-header-nav-background("dark");
  @include responsive-form-settings(
    2rem,
    80%,
    16px,
    100%,
    20px,
    80%,
    30px,
    80%,
    30px,
    60%
  );
}

.form-container-light {
  max-width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 40px;
  @include theme-header-nav-background("light");
  @include responsive-form-settings(
    2rem,
    80%,
    16px,
    100%,
    20px,
    80%,
    30px,
    80%,
    30px,
    60%
  );
}

.form-input-box-dark {
  background-color: $background-color-header-nav-dark;
}

.form-input-box-light {
  background-color: $background-color-header-nav-light;
}

.input-feedback {
  font-weight: 400;

  @media (max-width: 768px) {
    font-weight: 500;
  }

  @media (max-width: 576px) {
    font-weight: 600;
  }
}

.input-floating {
  &-dark {
    background-color: $background-color-header-nav-dark !important;
    color: $text-color-light;

    .form-control,
    .form-floating > label {
      background-color: inherit;
      color: inherit;
      border: 0.5px solid white;
      border-radius: 50px;
    }

    label[for="floatingIdentifier"]::after,
    label[for="floatingPassword"]::after,
    label[for="floatingFirstName"]::after,
    label[for="floatingLastName"]::after,
    label[for="floatingEmail"]::after,
    label[for="floatingUsername"]::after,
    label[for="floatingConfirmPassword"]::after {
      background-color: inherit !important;
    }

    label[for="floatingIdentifier"],
    label[for="floatingPassword"],
    label[for="floatingFirstName"],
    label[for="floatingLastName"],
    label[for="floatingEmail"],
    label[for="floatingUsername"],
    label[for="floatingConfirmPassword"] {
      color: inherit !important;
    }

    &:hover,
    &:focus {
      .form-control {
        background-color: $background-color-header-nav-dark;
      }
    }
  }

  &-light {
    background-color: $background-color-light;
    color: $text-color-dark;
    // border: 0.5px solid rgba($background-color-header-nav-dark, 0.5);

    .form-control,
    .form-floating > label {
      background-color: inherit;
      color: inherit;
      border: inherit;
    }

    // label[for="floatingIdentifier"]::after {
    //   background-color: inherit !important;
    // }

    // label[for="floatingPassword"]::after {
    //   background-color: inherit !important;
    // }

    // label[for="floatingIdentifier"] {
    //   color: $text-color-header-nav-dark !important;
    // }

    // label[for="floatingPassword"] {
    //   color: $text-color-header-nav-dark !important;
    // }

    &:hover,
    &:focus {
      .form-control {
        background-color: $background-color-light;
      }
    }
  }
}

.ql-editor {
  padding: 15px;
}

.ql-toolbar.ql-snow {
  //   background-color: #f3f3f3;
  border: none !important;
  background-color: transparent;
  padding: 5px 5px 5px 5px !important;
}

.ql-container.ql-snow {
  border: none !important;
}

.memo-modal-dark {
  background-color: $background-color-dark;
  color: $text-color-light;

  .btn-close {
    filter: invert(100%) sepia(0%) saturate(7494%) hue-rotate(244deg)
      brightness(98%) contrast(99%);
    opacity: 0.75;
  }
}

.memo-modal-light {
  background-color: $background-color-light;
  color: $text-color-dark;

  .btn-close {
    filter: invert(0%) sepia(100%) saturate(28%) hue-rotate(50deg)
      brightness(108%) contrast(106%);
    opacity: 0.75;
  }
}

.memo-modal-ellipsis-dark {
  color: $text-color-light;
  font-size: 1.5rem;
}

.memo-modal-ellipsis-light {
  color: $text-color-dark;
  font-size: 1.5rem;
}

.memo-modal-delete-dark {
  color: $text-color-light;
  font-size: 1rem;
}

.memo-modal-delete-light {
  color: $text-color-dark;
  font-size: 1rem;
}

.memo-modal-parent-div-ellipsis-delete {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  // position: relative;
}

.memo-modal-dark svg,
.memo-modal-light svg {
  fill: currentColor; // Example of styling internal SVGs
  margin-top: 10px; // This won't work as expected for internal elements without a direct parent selector
}

.memo-modal-memo-body-dark {
  width: 100%;
  height: 40px;
  // overflow: hidden;
  resize: none;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: $text-color-light;
  font-size: 1.2rem;
}

.memo-modal-memo-body-light {
  width: 100%;
  height: 40px;
  // overflow: scroll;
  resize: none;
  padding: 10px;
  border: none;
  background-color: transparent;
  color: $text-color-dark;
  font-size: 1.2rem;
}

.memo-modal-descriptions-dark {
  width: 100%;
  color: $text-color-light;
  background-color: transparent;
}

.memo-modal-descriptions-light {
  width: 100%;
  color: $text-color-dark;
  background-color: transparent;
}

.memo-modal-selects-dark {
  color: $text-color-light;
  background-color: transparent;
}

.memo-modal-selects-light {
  color: $text-color-dark;
  background-color: transparent;
}

.react-dropdown-select-item-dark span {
  color: $text-color-light;
  background-color: $background-color-dark;
  border: none;

  &:hover {
    color: $text-color-dark;
    background-color: none;
    border: none;
  }
}

.react-dropdown-select-item-light span {
  color: $text-color-dark;
  background-color: $background-color-light;
  border: none;

  &:hover {
    color: $text-color-dark;
    background-color: none;
    border: none;
  }
}

.memo-modal-subtask-line-dark {
  width: 100%;
  color: $text-color-light;
  background-color: $background-color-dark;

  &::placeholder {
    color: $text-color-light;
  }

  &:active,
  &:focus,
  &:hover {
    color: $text-color-light;
    background-color: transparent;
  }
}

.memo-modal-subtask-line-light {
  width: 100%;
  color: $text-color-dark;
  background-color: $background-color-light;

  &::placeholder {
    color: $text-color-dark;
  }
}

.memo-modal-submemos-li-dark span {
  color: $text-color-dark;
}

.memo-modal-submemos-li-light span {
  color: $text-color-light;
}

.memo-modal-submemos-ul {
  padding: 10px;
}
