@import "../utilities/helpers";
@import "../utilities/variables";
@import "../utilities/mixins";

.project-form-styling {
  @include theme-background($theme);
  &:focus {
    background: inherit;
    color: inherit;
  }
}

.form-container-dark {
  max-width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 40px;
  @include theme-header-nav-background("dark");
  @include responsive-form-settings(
    2rem,
    80%,
    16px,
    100%,
    20px,
    80%,
    30px,
    80%,
    30px,
    60%
  );
}

.form-container-light {
  max-width: 80%;
  margin: auto;
  padding: 2rem;
  border-radius: 40px;
  @include theme-header-nav-background("light");
  @include responsive-form-settings(
    2rem,
    80%,
    16px,
    100%,
    20px,
    80%,
    30px,
    80%,
    30px,
    60%
  );
}

.form-input-box-dark {
  background-color: $background-color-header-nav-dark;
}

.form-input-box-light {
  background-color: $background-color-header-nav-light;
}

.input-feedback {
  font-weight: 400;

  @media (max-width: 768px) {
    font-weight: 500;
  }

  @media (max-width: 576px) {
    font-weight: 600;
  }
}

// Define generic styles for floating labels
.input-floating {
  &-dark {
    background-color: $background-color-header-nav-dark !important;
    color: $text-color-light;
    border: 0.5px solid rgba($background-color-header-nav-light, 0.5);

    .form-control,
    .form-floating > label {
      background-color: inherit;
      color: inherit;
      border: inherit;
    }

    label[for="floatingIdentifier"]::after {
      background-color: inherit !important;
    }

    label[for="floatingPassword"]::after {
      background-color: inherit !important;
    }

    label[for="floatingIdentifier"] {
      color: $text-color-header-nav-light !important;
    }

    label[for="floatingPassword"] {
      color: $text-color-header-nav-light !important;
    }

    &:hover,
    &:focus {
      .form-control {
        background-color: $background-color-header-nav-dark;
      }
    }
  }

  &-light {
    background-color: $background-color-light;
    color: $text-color-dark;
    border: 0.5px solid rgba($background-color-header-nav-dark, 0.5);

    .form-control,
    .form-floating > label {
      background-color: inherit;
      color: inherit;
      border: inherit;
    }

    label[for="floatingIdentifier"]::after {
      background-color: inherit !important;
    }

    label[for="floatingPassword"]::after {
      background-color: inherit !important;
    }

    label[for="floatingIdentifier"] {
      color: $text-color-header-nav-dark !important;
    }

    label[for="floatingPassword"] {
      color: $text-color-header-nav-dark !important;
    }

    &:hover,
    &:focus {
      .form-control {
        background-color: $background-color-light;
      }
    }
  }
}
