@import "../utilities/variables";
@import "../utilities/mixins";
@import "../utilities/helpers";

.modal-light {
  //   @extend %flex-center;
  @include theme-background("light");
  padding: 0.5rem;
  //   border: 1px solid $border-color-light;
}

.modal-dark {
  //   @extend %flex-center;
  @include theme-background("dark");
  padding: 0.5rem;
  //   border: 0.5px solid $border-color-dark;
  border-bottom: 0.5px solid $border-color-dark;
  border-top: 0.5px solid $border-color-dark;
}

.custom-modal-width {
  max-width: 450px;
}

.settings-modal-width {
  max-width: 500px;
}

.settings-modal-body {
  padding: 15px;
}

.settings-modal-header-dark {
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: none;
  background-color: $background-color-dark;
}

.settings-modal-header-light {
  padding-left: 20px;
  padding-bottom: 10px;
  border-bottom: none;
  background-color: $background-color-light;
}

.settings-modal-title-dark {
  font-size: 1rem;
  color: $text-color-light;
}

.settings-modal-title-light {
  font-size: 1rem;
  color: $text-color-dark;
}

// .small-tabs .nav-link {
//   padding: 5px 10px; /* Reduce padding to shrink size */
//   font-size: 12px; /* Smaller font size */
//   background-color: pink;
// }

// .nav-link.active {
//   background-color: purple;
// }

.small-tabs-dark {
  .nav-link {
    padding: 5px 10px;
    font-size: 12px;
    background-color: $background-color-dark; // Default background for non-active tabs
    color: $text-color-light;
  }

  .nav-link.active {
    background-color: $background-color-header-nav-dark; // Specific style for the active tab
    color: $text-color-light;
  }
}

.small-tabs-light {
  .nav-link {
    padding: 5px 10px;
    font-size: 12px;
    background-color: $background-color-light; // Default background for non-active tabs
    color: $text-color-dark;
  }

  .nav-link.active {
    background-color: $background-color-header-nav-light; // Specific style for the active tab
    color: $text-color-dark;
  }
}

.project-modal-title-light {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: $text-color-dark;
}

.project-modal-title-dark {
  font-size: 1.2rem;
  margin-left: 0.5rem;
  color: $text-color-light;
}

.project-form-labels-light {
  font-size: 0.8rem;
  color: $text-color-dark;
}

.project-form-labels-dark {
  font-size: 0.8rem;
  color: $text-color-light;
}

.project-form-styling-dark {
  background-color: $background-color-dark;
  color: $text-color-light;

  &:focus {
    background-color: $background-color-header-nav-dark;
    color: $text-color-light;
  }
}

.project-form-styling-light {
  background-color: $background-color-light;
  color: $text-color-dark;

  &:focus {
    background-color: $background-color-header-nav-light;
    color: $text-color-dark;
  }
}

.settings-modal-timezone {
  padding: 16px;
}

.settings-modal-account {
  padding: 16px;
}

.settings-modal-padding {
  padding-bottom: 10px;
}

.settings-modal-delete-account {
  font-weight: bold;
  padding-bottom: 10px;
}
