@import "../utilities/mixins";
@import "../utilities/variables";
@import "../utilities/helpers";

.project-rows {
  background-color: $background-color-header-nav-dark;
  gap: 8px;
  padding-bottom: 4px;
  padding-top: 4px;

  &:hover {
    background-color: rgba(69, 69, 71, 0.5);
    border-radius: 8px;
    width: 100%;
    height: fit-content;
  }

  &:active {
    cursor: pointer;
    background-color: rgba($text-color-light, 0.25);
    border-radius: 8px;
    width: 100%;
    height: fit-content;
  }
}

.project-names {
  font-size: 0.9rem;
}

.project-span {
  font-size: 0.9rem;
  font-weight: 600;
  margin-bottom: 6px;
}

.add-project-btn,
.add-project-btn:hover,
.add-project-btn:focus,
.add-project-btn:active {
  padding: 0;
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  color: $text-color-header-nav-light;
  margin-bottom: 6px;
}
