@import "../utilities/helpers";
@import "../utilities/variables";
@import "../utilities/mixins";

.scrollable-row {
  overflow-x: auto;
  // white-space: nowrap;
  height: 100%;
}

// .scrollable-row .row {
//   // flex-wrap: nowrap;
// }

.project-component-content-editable-section-names {
  width: min-content;
  padding: 0px, 5px;
}

.section-names {
  font-size: 1.2rem;
  font-weight: 600;
  width: max-content;
  padding: 0px, 5px;

  &:hover {
    cursor: pointer;
  }
}

.drag-handle-dark {
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  min-height: 100px;
  height: 100vh;
  background-color: $background-color-header-nav-dark;
  border: 1px solid transparent;

  &:hover {
    border-color: rgba(255, 255, 255, 0.5);
  }

  &:active {
    background-color: $background-color-header-nav-dark;
    border-color: rgba(255, 255, 255, 0.5);
  }
}

.drag-handle-light {
  border-radius: 10px;
  padding: 10px;
  width: 400px;
  min-height: 100px;
  height: 100vh;
  background-color: $background-color-header-nav-light;
  border: 1px solid transparent;

  &:hover {
    border-color: rgba(0, 0, 0, 0.5);
  }

  &:active {
    background-color: $background-color-header-nav-light;
    border-color: rgba(0, 0, 0, 0.5);
  }
}

.memo-box-dark {
  height: 100px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #454547;

  &:hover,
  &:active,
  &:focus {
    border-color: white;
  }
}

.memo-box-light {
  height: 100px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 20px;
  background-color: white;

  &:hover,
  &:active,
  &:focus {
    border-color: black;
  }
}

.project-page-memo-li {
  // display: flex;
  // align-items: center;
  // gap: 10px;
  // width: 100%;

  display: grid;
  grid-template-areas:
    "checkbox body date"
    "checkbox body date";
  grid-template-columns: min-content 1fr max-content;
  grid-template-rows: 1fr 1fr;
  grid-auto-flow: row;
  grid-column-gap: 10px;
  align-items: start;
  list-style: none;
  width: 100%;
  height: 100%;
}

// .project-page-memo-ul {
//   display: flex;
//   flex: 1;
//   justify-content: space-between;
// }

.project-page-checkbox-completed {
  color: green;
  grid-area: checkbox;
}

.project-page-checkbox-blank {
  grid-area: checkbox;
}

.project-page-memo-body {
  grid-area: body;
  max-width: 100%;
  // word-wrap: break-word;
  // word-break: break-word;
  // overflow-wrap: break-word;
}

.memo-due-date-dark {
  color: $text-color-header-nav-light;
  grid-area: date;
}

.memo-due-date-light {
  color: $text-color-header-nav-dark;
  grid-area: date;
}